select {
  display: flex;
  font-size: 0.5em;
  width: 15em;
  height: 2em;
  margin: 30px auto;
  border: 1px solid cadetblue;
  border-radius: 8px;
}

form {
  padding-right: 0;
  margin-right: 0;
  text-align: center;
}
